Source: ros-melodic-ntpd-driver
Section: misc
Priority: optional
Maintainer: Vladimir Ermakov <vooon341@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libpoco-dev, ros-melodic-catkin, ros-melodic-cmake-modules, ros-melodic-message-generation, ros-melodic-message-runtime, ros-melodic-roscpp, ros-melodic-sensor-msgs
Homepage: http://wiki.ros.org/ntpd_driver
Standards-Version: 3.9.2

Package: ros-melodic-ntpd-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpoco-dev, ros-melodic-cmake-modules, ros-melodic-message-generation, ros-melodic-message-runtime, ros-melodic-roscpp, ros-melodic-sensor-msgs
Description: ntpd_driver sends TimeReference message time to ntpd server
